* {
  font-family: 'Microsoft JhengHei';
}

#avatar {
  position: absolute;
  height: 100%;
  left: 0%;
  bottom: 0%;
  z-index: 5;
}

#bg {
  position: absolute;
  height: 100%;
  left: 0%;
  top: 0%;
  z-index: 4;
}

.border-text {
  text-align: center;
  width: 100%;
  color: yellow;
  font-size: 10px;
  text-shadow: 2px 2px 2px #000000;
  font-family: 'Microsoft JhengHei';
  padding: 10px;
  position: absolute;
  bottom: 3%;
  word-break: break-all;
  background: rgba(54, 25, 25, .5);
  z-index: 9;
}

#canvas {
  max-height: 600px;
  margin-bottom: 20px;
  height: 0;
  margin-left: 20%;
  width: 60%;
  padding-bottom: 60%;
  background: lightgray;
  overflow: hidden;
  position: relative;
}

#deco {
  position: absolute;
  height: 100%;
  left: 0%;
  top: 0%;
  z-index: 9;
}

#eye {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  z-index: 8;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-move {
  transition: transform 1s;
}

.margin-bottom {
  margin-bottom: 15px;
}

#mouth {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  z-index: 7;
}

.taskDone {
  text-decoration: line-through;
}